@page "/"

<PageTitle>Blazor srv app</PageTitle>

<h2>Hello, the blazor app is running!</h2>
<table border=0><tr><td>
<img width="150" src="/images/RestApiN1.png" />
</td><td>
<h4>This blazor srv app is connected to RestApiNEx. Click on Entities menu item to connect to the entities.</h4>
</td></tr></table>

<SurveyPrompt Title="How is RestApi extension working for you?" />
